body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $greyish_blue;
  padding: $half-space;
}

.center {
  text-align: center;

  .centered {
    display: inline-block;

    .vertical_object {
      display: inline-block;
      margin: 0 8px;

      .vertical_object {
        margin: 0;
      }
    }
  }
}
