
.redButton {
  height: 100px;
  width: 100px;
  background: red;
}


.box {
  background: #B9B9B9;
  opacity: 1.00;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.25);
}


.button {
  /* Rectangle 2 */

  opacity: 1.00;
  border-radius: 4px;
  margin: 12px auto;

}

.button.light_on {
  transition: box-shadow 0.1s ease;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
}

.button.light_on:hover {
  transition: box-shadow 0.1s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24), 0px 0px 8px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.button.light_on:active {
  transition: box-shadow 0.1s ease;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}


.button.deactivate {
  opacity: 0.4;
  transition: opacity 0.4s ease;
  cursor: default;
  box-shadow: 0px 0px 2px rgba(0,0,0, 0.12)
}


.wide {
  width: 320px;
  border-radius: 4px;
}

.vertical {
  height: 400px;
  width: 120px;
  display: inline-block;
  float: left;
}

.horizontal {
  height: 120px;
  width: 400px;
}

.blue {
  background-color: $blue;
}

.orange {
  background-color: $orange;
}

.green {
  background-color: $green;
}

.grey {
  background-color: $grey;
}

.red {
  background-color: $red;
}

.white {
  background-color: #FFF;
}

.transition_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /*display: none;*/
  /*visibility: hidden;*/
}

.transitioner {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: #FF8500;
  position: absolute;
  transform: scale();
  opacity: 1;
  z-index: 1000;
}

.ripple {
  opacity: 1;
  transition: transform 0.8s ease;
  transform: scale(100);
}

.display_none {
  visibility: hidden;
}

.hide {
  opacity: 0;
}
