$button_height: 120px;

.boardWrapper
{
  .m20 {
    margin: 20px auto;
  }

  .height_1 {
    height: $button_height;

  }

  .height_2 {
    height: 264px;

  }

  .height_3 {
    height: 408px;
  }

  .height_4 {
    height: 552px;
  }
}
